---
layout: page
title: Research
---
<section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <h2 class="title">{{ post.title }}</h2>
                </a>
            </div>
			{% if post.image and post.headerImage %}
				<div style="display: flex; justify-content: center;">
				<img class="image" src="{{ post.image }}" align="middle">
				</div>
			{% endif %}
        {% endif %}
    {% endfor %}
</section>
