<div class="container education-container">
  <h3>{{ site.education_title | default: "Education" }}</h3>
  {% for education in site.data.education %}
    <div class="row clearfix education">

      {%- if site.education_image -%}
        <div class="col-xs-12 col-sm-4 col-md-3 no-print">
          <span class="education_image" style="background-image: url({{ site.education_image | relative_url }})" />
        </div>
      {%- endif -%}
    
      <div class="{{ 'col-xs-12 ' }}{%- if site.education_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
        <h4><b>{{ education.name }}</b></h4>
        <p><b>{{ education.qualification }}</b></p>
        <p>{{ education.dates }}</p>

      </div>
    </div>
  {% endfor %}
</div>
