<div class="container education-container">
  <h3>{{ site.education_title | default: "Education" }}</h3>
  {% for education in site.data.education %}
    <div class="row clearfix education">

      {%- if site.education_image -%}
        <div class="col-xs-12 col-sm-3 col-md-2 no-print">
          <span class="education-img" style="background-image: url({{ site.education_image | relative_url }})" />
        </div>
      {%- endif -%}

      <div class="{{ 'col-xs-12 ' }}{%- if site.education_image -%}col-sm-7 col-md-8 col-print-12{%- endif -%}">
        <h4><b>{{ education.name }}</b></h4>
        <p><b>{{ education.qualification }}</b></p>
      </div>

      <div class="{{ 'col-xs-12 ' }}{%- if site.education_image -%}col-sm-2 col-md-2 col-print-12{%- endif -%}">
        <p><b>{{ education.dates }}</b></p>
      </div>

    </div>
  {% endfor %}
</div>
