<!-- Slideshow container -->
<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <a href="https://hungpham2017.github.io/perovskite/"><img src="assets/slideshows/img1.jpg" style="width:100%"></a>
    <div class="text">Sunlight harvesting using metal halide perovskites</div>
  </div>

  <div class="mySlides fade">
    <img src="assets/slideshows/img2.jpg" style="width:100%">
    <div class="text">Density matrix embedding theory with CASSCF solver</div>
  </div>
  
  <div class="mySlides fade">
    <img src="assets/slideshows/img3.jpg" style="width:100%">
    <div class="text">Charge transport in single-layer COFs</div>
  </div>
  
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script src="js/slideshow.js"></script>