<div class="container projects-container">
  <h3>{{ site.projects_apl_title | default: "Application Projects" }}</h3>
  {% for project in site.data.projects_apl %}
    <div class="row clearfix project">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
        <h4>{{ project.name }}</h4>
		{%- if project.image -%}
		<div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
		  <span class="proj-img" style="background-image: url({{ project.image | relative_url }})" />
		</div>
		{%- endif -%}
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
		{%- if project.quote -%}
		  <p class="quote">{{ project.quote }}</p>
		{%- endif -%}
		{{ project.description | strip | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
